*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(250, 247, 247);
    color:rgb(0, 0, 0);
    font-family: sans-serif;
    line-height: 1.6;
     /* font-size:medium; */
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.navbar{
    /* background: rgba(255, 255, 255, 0.05); */
        background-color:#0b0b4e;

        /* backdrop-filter: blur(10px);
        -webkit-backdrop-filter:blur(10px); */
    /* position: fixed; */
    width: 100%;
    top:0;
    z-index:100;    
    padding: 20px 0;
    border-bottom: 2px solid rgb(208, 186, 186);    
    
}
.nav{
    list-style: none;
    display: flex;
    gap: 19px;
    
}
.nav a{
    text-decoration: none;
    color:white;
     font-size: 0.9rem;
}

.btn-wrap{
   
    display: flex;
    margin-left: 40%;
    gap:20px;
}
.btn-wrap a{
    color:rgb(228, 228, 239);
    font-size: large;
}
.btn1{
    background-color:rgb(118, 197, 231);
    padding-left: 15px;
    padding-right: 15px;
}
.btn2{
    background-color:rgb(196, 143, 75);
    padding-left: 15px;
    padding-right: 15px;
}
.main-section{
    /* padding: 10%; */
    
     height: 100vh;
    /* Full screen height */
    display: flex;
    align-items: center;
    background: url('images/Frame 7.jpg') center/cover no-repeat;
    position: relative;
}
.main-section::before {
    content: "";
    position: absolute;
    top: 10;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.section {
    padding: 80px 0;
}

.gray-bg {
    background-color: #161618;
    /* Slightly lighter dark background */
}

.text-center {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

/* about */
.about-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.about-image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display:block;

    
    /* Prevents image from stretching */
}

.about-text {
    position:absolute;
    left:70px;
    bottom:-222px;
    /* font-family:"playfair display",serif; */
     /* font-size:120px; */


    background: rgba(255,255,255,0.01);
    /* max-width:420px; */
    padding:25px 30px;
   
}
.about-text h1{
  font-size:55px;
  font-family:"playfair display",serif;
    margin-bottom:10px;
     /* border:1px solid #222; */
     color:#222;
   
}
.para{
    position:absolute;
    right:13rem;
    bottom:-40rem;
    text-align: right;
    font-family:"playfair display",serif;
    font-weight: 400px;
    font-size:11px;
    line-clamp: inherit;
     /* font-size:120px; */


    background: rgba(255,255,255,0.01);
    border:2px solid black;
    max-width:520px;
    padding:25px 30px;
   
}

.para p{

    line-height:1.6;
    color:#444;
}

.features-section{
    max-width:1200px;
    margin:auto;
    padding:80px 20px;
    font-family:"Playfair Display", serif;
    
}
.feature{
    height: 500px;
}
.features-title{
    font-size:50px;
    margin-bottom:50px;
}

/* common row */
.feature-row{
    display:flex;
    align-items:left;
    gap:60px;
    margin-bottom:80px;
    flex-wrap: wrap;
}

/* first block text */
.feature-text h4{
    font-size:22px;
    font-weight:500;
    line-height:1.3;
    margin-bottom:15px;
}

.feature-text p{
    font-size:14px;
    max-width:260px;
    line-height:1.6;
}

/* images */
.feature-image img{
    width: 100%;
    height: 400px;
    
    display:block;
    object-fit: cover;
}

.feature-image{
    flex:1;
  
}

/* second layout image first */
.reverse{
    flex-direction:row;
}
.feature-row1{
    display:flex;
    align-items:center;
    gap:100px;
    margin-bottom:80px;
    padding-right: 15rem;
}

/* overlay block */
.overlay-wrap{
    position:relative;
}

.image-overlay-text{
    position:absolute;
    right:-50px;
    top:-1px;
    /* transform:translateY(-50%); */
   
    max-width:260px;
   
}

.image-overlay-text h4{
    font-size:40px;
    margin-bottom:10px;
    
    padding-left: 18px;
     color:#fff;
}

.image-overlay-text1{
    position:absolute;
    right:-212px;
    top:150px;
    /* transform:translateY(-50%); */
  
    max-width:260px;
   
}
.image-overlay-text1 p{
    font-size:13px;
    line-height:1.6;
    padding-left: 8px;
    /* color: rgb(51, 45, 45); */
     color: #0b0b4e;
}
.feature5 img{
       width: 100%;
    height: 400px;
    object-fit: cover;
    display:block;
}
.feature{
    height: 427px;
}
.location-section{
    max-width:1200px;
    margin:auto;
    padding:20px;
    font-family:"Playfair Display", serif;
    
}
.feature img{
       width: 100%;
    height: 400px;
    object-fit: cover;
    display:block;
}
.feature h2{
    font-size: 80px;
    position:absolute;
    left:39px;
    top:-9rem;
    position: relative;
    /* color: ; */
}

.image-text{
    font-size:90px;
    font-family:"Playfair Display", serif;
    font-weight:700;

    background-image: url("images/Frame 64.jpg");   /* your image */
    background-size: cover;
    background-position: center;

    color: transparent;

    -webkit-background-clip: text;
    background-clip: text;
}
.section-register{
    display: flex;
    gap: 70px; 
    /* justify-content: space-between; */
    margin-bottom: 800px;
    padding:20px 20px;
    padding-bottom: 100px;
    color:#fff;
    max-width:1200px;
    margin:auto;
}
.register-title{
    position: relative;
    font-family:"Playfair Display", serif;
    font-size:48px;
    top:39px;
    color:#000;
    margin-bottom:20px;
}
.form{
    width:700px ;
    margin-top: 30px;
    padding: 30px;
    background: linear-gradient(180deg,#0b1b33,#071426);

}
/* row for name + email */
.form-row{
    display:flex;
    gap:60px;
    margin-bottom:30px;
}
/* group */
.form-group{
    flex:1;
}
.section-register form{
        flex-direction: row;
      
}
.section-register address{
    background-color: antiquewhite;
}
.form-group input{
    width:100%;
    background:transparent;
    border:none;
    border-bottom:1px solid rgba(255,255,255,0.4);
    padding:8px 0;
    color:#fff;
    font-size:14px;
    outline:none;
}
/* comment full width */
.form-group.full{
    margin-bottom:30px;
}

/* button */
.submit-btn{
    background:#fff;
    color:#000;
    border:none;
    padding:8px 18px;
    font-size:14px;
    cursor:pointer;
}
.address{
    width:auto;
    font-size: 10px;
     font-family: "Roboto Condensed", sans-serif;
    line-height: 29px;
    color: #071426;
    /* font-variant: small-caps; */
    /* position: relative; */
}
.address h2{
 position: relative;
top:170px;
text-align: right;
}